#calendar {
  margin-left: 20px;
  margin-right: 20px;
}

#dark #calendar .fc {
  --fc-page-bg-color: #1f1f1f;
  --fc-neutral-bg-color: #262626;
  --fc-neutral-text-color: #8c8c8c;
  --fc-border-color: #303030;

  --fc-button-text-color: #ffffffd9;
  --fc-button-bg-color: #434343;
  --fc-button-border-color: #434343;
  --fc-button-hover-bg-color: #595959;
  --fc-button-hover-border-color: #595959;
  --fc-button-active-bg-color: #177ddc;
  --fc-button-active-border-color: #156dbe;

  --fc-event-bg-color: #177ddc;
  --fc-event-border-color: #177ddc;
  --fc-event-text-color: #ffffff;

  --fc-non-business-color: rgba(255, 255, 255, 0.04);
  --fc-today-bg-color: rgba(24, 144, 255, 0.08);
  --fc-highlight-color: rgba(24, 144, 255, 0.2);
  --fc-now-indicator-color: #ff4d4f;

  color: #ffffffd9;
}

#dark #calendar .fc .fc-scrollgrid-section-sticky > * {
  background: #1f1f1f;
}

#dark #calendar .fc .fc-timegrid-slot-label,
#dark #calendar .fc .fc-timegrid-axis-frame {
  background-color: #141414;
}

#dark #calendar .fc .fc-col-header-cell {
  background-color: #1f1f1f;
}

#dark #calendar .fc .fc-daygrid-day.fc-day-other {
  background: #1a1a1a;
}

#dark #calendar .fc .fc-toolbar-title {
  color: #ffffffd9;
}
