* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.w-50 {
  width: 50%;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.text-center {
  text-align: center;
}

.list .item:hover {
  background-color: #b3b1b1;
  cursor: pointer;
}

.scraper {
  background-color: rgba(80, 77, 77, 0.7);
  position: absolute;
  bottom: 50% !important;
  right: 50% !important;
  height: 100%;
  width: 100%;
  transform: translate(50%, 50%);
  z-index: 2;
}

.scraper-spinner {
  position: absolute;
  bottom: 50% !important;
  right: 50% !important;
  transform: translate(50%, 50%);
  flex-direction: column;
  align-items: center;
}
